.navbar-center .active {
  color: orangered;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

@keyframes slideInUnderline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.navbar-center .active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  animation: slideInUnderline 0.5s forwards;
}

.navbar-center .active:hover::after,
.navbar-center .active:focus::after {
  animation: slideInUnderline 0.5s forwards;
}
