@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

html {
  background-color: black;
  scroll-behavior: smooth;
}

body {
  font-family: 'EB Garamond', serif;
}


.bg-gradient-overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: blur(100px);
  opacity: 0.3;
  background: linear-gradient(
    to top right,
    #4a00e0, /* Deep Purple */
    #8e2de2, /* Lighter Purple */
    #ff0080 /* Pinkish Neon */
  );
  clip-path: polygon(
    74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 
    80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 
    47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 
    17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%
  );
}

